* {
  box-sizing: border-box;
}

html,
body,
#root {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #000000;
  height: 100%;
  position: relative;
}

@font-face {
  font-family: 'Circular';
  font-style: normal;
  font-weight: 200;
  src: url('./assets/fonts/lineto-circular-black.ttf') format('truetype')
} 

/*
  Remove the following styles before
  sending to the device or simulator
*/

html,
body,
#root {
  height: 320px;
  min-height: 320px;
  width: 240px;
}

html,
body {
  background-color: lightgrey;
}

div[class*="softkey"] {
  top: 320px;
  bottom: auto !important;
  width: 240px;
}
